{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>Medicare - Your trusted partner in wellness</title>
		
		<!-- Favicon -->
        <link rel="icon" href="{% static 'eclinic_app/img/favicon.png' %}">
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'eclinic_app/css/bootstrap.min.css' %}">
		<!-- Nice Select CSS -->
		<link rel="stylesheet" href="{% static 'eclinic_app/css/nice-select.css' %}">
		<!-- Font Awesome CSS -->
        <link rel="stylesheet" href="{% static 'eclinic_app/css/font-awesome.min.css' %}">
		<!-- icofont CSS -->
        <link rel="stylesheet" href="{% static 'eclinic_app/css/icofont.css' %}">
		<!-- Slicknav -->
		<link rel="stylesheet" href="{% static 'eclinic_app/css/slicknav.min.css' %}">
		<!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="{% static 'eclinic_app/css/owl-carousel.css' %}">
		<!-- Datepicker CSS -->
		<link rel="stylesheet" href="{% static 'eclinic_app/css/datepicker.css' %}">
		<!-- Animate CSS -->
        <link rel="stylesheet" href="{% static 'eclinic_app/css/animate.min.css' %}">
		<!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="{% static 'eclinic_app/css/magnific-popup.css' %}">
		
		<!-- Medipro CSS -->
        <link rel="stylesheet" href="{% static 'eclinic_app/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'eclinic_app/style.css' %}">
        <link rel="stylesheet" href="{% static 'eclinic_app/css/responsive.css' %}">
		
		<style>
			.submission{
				padding-right: 20px;
				padding-top: 70px;
				color: #0e7977; 
				font-weight:500;
				font-size:18px;
			}
		</style>
    </head>
    <body>
	
		<!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator"> 
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
		
	
		<!-- Header Area -->
		<header class="header" style = "padding-bottom: 16px;" >
			<!-- Topbar -->
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-5 col-12">
							<!-- Contact -->
							
							<!-- End Contact -->
						</div>
						<div class="col-lg-6 col-md-7 col-12">
							<!-- Top Contact -->
							<ul class="top-contact">
								<li><i class="fa fa-phone"></i>+91 12345 67890</li>
								<li><i class="fa fa-envelope"></i><a href="mailto:nishabisht165@gmail.com">supportmedicare@gmail.com</a></li>
							</ul>
							<!-- End Top Contact -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->
			<!-- Header Inner -->
			<div class="header-inner" >
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-2 col-md-3 col-12">
								<!-- Start Logo -->
								<div class="logo">
									<a href="{% url 'home' %}"><img src="{% static 'eclinic_app/img/logo.jpg' %}" alt="#"></a>
								</div>
								<!-- End Logo -->
								<!-- Mobile Nav -->
								<div class="mobile-nav"></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-9 col-md-9 col-12 text-right">
								<div class="get-quote d-inline-block"> 
									<a href="{% url 'home' %}" class="btn">Back to Home</a>
								</div>
								<div class="get-quote d-inline-block ml-3">
									<a href="appointment.html" class="btn">Book Appointment</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->
		
		<!-- Error Page -->
		<section class="error-page section">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 offset-lg-3 col-12">
						<!-- Error Inner -->
						<div class="error-inner">
							<h1>404<span>Whoops sorry we can't find that page!</span></h1>
							<p> Don't worry, we're here to rescue you! Return to safety with a click.</p>
							<a href="{% url 'home' %}" class="btn" style = "color:white">Back to Safety</a>
						</div>
						<!--/ End Error Inner -->
					</div>
				</div>
			</div>
		</section>	
		<!--/ End Error Page -->
		
		<!-- Footer Area -->
		<footer id="footer" class="footer ">
			<!-- Copyright -->
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<div class="copyright-content">
								<p>© Copyright 2024  |  All Rights Reserved by <a href="https://www.medicare.com" target="_blank">medicare.com</a> </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Copyright -->
		</footer>
		<!--/ End Footer Area -->
		
		<!-- jquery Min JS -->
        <script src="{% static 'eclinic_app/js/jquery.min.js' %}"></script>
		<!-- jquery Migrate JS -->
		<script src="{% static 'eclinic_app/js/jquery-migrate-3.0.0.js' %}"></script>
		<!-- jquery Ui JS -->
		<script src="{% static 'eclinic_app/js/jquery-ui.min.js' %}"></script>
		<!-- Easing JS -->
        <script src="{% static 'eclinic_app/js/easing.js' %}"></script>
		<!-- Color JS -->
		<script src="{% static 'eclinic_app/js/colors.js' %}"></script>
		<!-- Popper JS -->
		<script src="{% static 'eclinic_app/js/popper.min.js' %}"></script>
		<!-- Bootstrap Datepicker JS -->
		<script src="{% static 'eclinic_app/js/bootstrap-datepicker.js' %}"></script>
		<!-- Jquery Nav JS -->
        <script src="{% static 'eclinic_app/js/jquery.nav.js' %}"></script>
		<!-- Slicknav JS -->
		<script src="{% static 'eclinic_app/js/slicknav.min.js' %}"></script>
		<!-- ScrollUp JS -->
        <script src="{% static 'eclinic_app/js/jquery.scrollUp.min.js' %}"></script>
		<!-- Niceselect JS -->
		<script src="{% static 'eclinic_app/js/niceselect.js' %}"></script>
		<!-- Tilt Jquery JS -->
		<script src="{% static 'eclinic_app/js/tilt.jquery.min.js' %}"></script>
		<!-- Owl Carousel JS -->
        <script src="{% static 'eclinic_app/js/owl-carousel.js' %}"></script>
		<!-- counterup JS -->
		<script src="{% static 'eclinic_app/js/jquery.counterup.min.js' %}"></script>
		<!-- Steller JS -->
		<script src="{% static 'eclinic_app/js/steller.js' %}"></script>
		<!-- Wow JS -->
		<script src="{% static 'eclinic_app/js/wow.min.js' %}"></script>
		<!-- Magnific Popup JS -->
		<script src="{% static 'eclinic_app/js/jquery.magnific-popup.min.js' %}"></script>
		<!-- Counter Up CDN JS -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="{% static 'eclinic_app/js/bootstrap.min.js' %}"></script>
		<!-- Main JS -->
		<script src="{% static 'eclinic_app/js/main.js' %}"></script>
    </body>
</html>