{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>Medicare - Your trusted partner in wellness</title>
		
		<!-- Favicon -->
        <link rel="icon" href="{% static 'eclinic_app/img/favicon.png' %}">
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'eclinic_app/css/bootstrap.min.css' %}">
		<!-- Nice Select CSS -->
		<link rel="stylesheet" href="{% static 'eclinic_app/css/nice-select.css' %}">
		<!-- Font Awesome CSS -->
        <link rel="stylesheet" href="{% static 'eclinic_app/css/font-awesome.min.css' %}">
		<!-- icofont CSS -->
        <link rel="stylesheet" href="{% static 'eclinic_app/css/icofont.css' %}">
		<!-- Slicknav -->
		<link rel="stylesheet" href="{% static 'eclinic_app/css/slicknav.min.css' %}">
		<!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="{% static 'eclinic_app/css/owl-carousel.css' %}">
		<!-- Datepicker CSS -->
		<link rel="stylesheet" href="{% static 'eclinic_app/css/datepicker.css' %}">
		<!-- Animate CSS -->
        <link rel="stylesheet" href="{% static 'eclinic_app/css/animate.min.css' %}">
		<!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="{% static 'eclinic_app/css/magnific-popup.css' %}">
		
		<!-- Medipro CSS -->
        <link rel="stylesheet" href="{% static 'eclinic_app/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'eclinic_app/style.css' %}">
        <link rel="stylesheet" href="{% static 'eclinic_app/css/responsive.css' %}">
		
		<style>
			.submission{
				padding-right: 20px;
				padding-top: 70px;
				color: #0e7977; 
				font-weight:500;
				font-size:18px;
			}
		</style>
    </head>
    <body>
	
		<!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator"> 
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
		
	
		<!-- Header Area -->
		<header class="header" style = "padding-bottom: 16px;" >
			<!-- Topbar -->
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-5 col-12">
							<!-- Contact -->
							
							<!-- End Contact -->
						</div>
						<div class="col-lg-6 col-md-7 col-12">
							<!-- Top Contact -->
							<ul class="top-contact">
								<li><i class="fa fa-phone"></i>+91 12345 67890</li>
								<li><i class="fa fa-envelope"></i><a href="mailto:nishabisht165@gmail.com">supportmedicare@gmail.com</a></li>
							</ul>
							<!-- End Top Contact -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->
			<!-- Header Inner -->
			<div class="header-inner" >
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-2 col-md-3 col-12">
								<!-- Start Logo -->
								<div class="logo">
									<a href="{% url 'home' %}"><img src="{% static 'eclinic_app/img/logo.jpg' %}" alt="#"></a>
								</div>
								<!-- End Logo -->
								<!-- Mobile Nav -->
								<div class="mobile-nav"></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-9 col-md-9 col-12 text-right">
								<div class="get-quote d-inline-block"> 
									<a href="{% url 'home' %}" class="btn">Back to Home</a>
								</div>
								<div class="get-quote d-inline-block ml-3">
									<a href="{% url 'appointment' %}" class="btn">Book Appointment</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->
	
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Contact Us</h2>
							<ul class="bread-list">
								<li><a href="{% url 'home' %}">Home</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">Contact Us</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
				
		<!-- Start Contact Us -->
		<section class="contact-us section">
			<div class="container">
				<div class="inner">
					<div class="row"> 
						<div class="col-lg-6">
							<div class="contact-us-left">
								<!--Start Google-map -->
								<div id="myMap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d109058.82772175211!2d75.42002677917482!3d31.32893260395885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a5f40a030f80d%3A0x2a4cfd58a3ea1df0!2sLovely%20professional%20university!5e0!3m2!1sen!2sin!4v1712692706836!5m2!1sen!2sin" style = "height:500px;width:550px;padding:25px"allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
								<!--/End Google-map -->
							</div>
						</div>
						<div class="col-lg-6">
							<div class="contact-us-form">
								<h2>Contact With Us</h2>
								<p>If you have any questions please feel free to contact us.</p>
								{% if submitted %}
									<div class = "submission">Your request has been submitted successfully. We will contact you within 2 days.</div>
								{% else %}
								<!-- Form -->
								<form class="form" method="post" action="{% url 'contactus' %}">
									{% csrf_token %}
									<div class="row">
										<div class="col-lg-6">
											<div class="form-group">
												<input type="text" name="name" placeholder="Name" required="">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<input type="email" name="email" placeholder="Email" required="">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<input type="text" name="phone" placeholder="Phone" required="">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<input type="text" name="subject" placeholder="Subject" required="">
											</div>
										</div>
										<div class="col-lg-12">
											<div class="form-group">
												<textarea name="message" placeholder="Your Message" required=""></textarea>
											</div>
										</div>
										{{form.errors}}
										<div class="col-12">
											<div class="form-group login-btn">
												<button class="btn" type="submit">Send</button>
											</div>
										</div>
									</div>
								</form>
								{% endif %}
								<!--/ End Form -->
							</div>
						</div>
					</div>
				</div>
				<div class="contact-info">
					<div class="row">
						<!-- single-info -->
						<div class="col-lg-4 col-12 ">
							<div class="single-info">
								<i class="icofont icofont-ui-call"></i>
								<div class="content">
									<h3>+91 12345 67890</h3>
									<p>info@medicare.com</p>
								</div>
							</div>
						</div>
						<!--/End single-info -->
						<!-- single-info -->
						<div class="col-lg-4 col-12 ">
							<div class="single-info">
								<i class="icofont-google-map"></i>
								<div class="content">
									<h3>Lovely Professional University</h3>
									<p>Phagwara, Punjab</p>
								</div>
							</div>
						</div>
						<!--/End single-info -->
						<!-- single-info -->
						<div class="col-lg-4 col-12 ">
							<div class="single-info">
								<i class="icofont icofont-wall-clock"></i>
								<div class="content">
									<h3>Mon - Sat: 8am - 5pm</h3>
									<p>Sunday Closed</p>
								</div>
							</div>
						</div>
						<!--/End single-info -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Contact Us -->
		
		<!-- Footer Area -->
		<footer id="footer" class="footer ">
			<!-- Copyright -->
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<div class="copyright-content">
								<p>© Copyright 2024  |  All Rights Reserved by <a href="https://www.medicare.com" target="_blank">medicare.com</a> </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Copyright -->
		</footer>
		<!--/ End Footer Area -->
		
		<!-- jquery Min JS -->
        <script src="{% static 'eclinic_app/js/jquery.min.js' %}"></script>
		<!-- jquery Migrate JS -->
		<script src="{% static 'eclinic_app/js/jquery-migrate-3.0.0.js' %}"></script>
		<!-- jquery Ui JS -->
		<script src="{% static 'eclinic_app/js/jquery-ui.min.js' %}"></script>
		<!-- Easing JS -->
        <script src="{% static 'eclinic_app/js/easing.js' %}"></script>
		<!-- Color JS -->
		<script src="{% static 'eclinic_app/js/colors.js' %}"></script>
		<!-- Popper JS -->
		<script src="{% static 'eclinic_app/js/popper.min.js' %}"></script>
		<!-- Bootstrap Datepicker JS -->
		<script src="{% static 'eclinic_app/js/bootstrap-datepicker.js' %}"></script>
		<!-- Jquery Nav JS -->
        <script src="{% static 'eclinic_app/js/jquery.nav.js' %}"></script>
		<!-- Slicknav JS -->
		<script src="{% static 'eclinic_app/js/slicknav.min.js' %}"></script>
		<!-- ScrollUp JS -->
        <script src="{% static 'eclinic_app/js/jquery.scrollUp.min.js' %}"></script>
		<!-- Niceselect JS -->
		<script src="{% static 'eclinic_app/js/niceselect.js' %}"></script>
		<!-- Tilt Jquery JS -->
		<script src="{% static 'eclinic_app/js/tilt.jquery.min.js' %}"></script>
		<!-- Owl Carousel JS -->
        <script src="{% static 'eclinic_app/js/owl-carousel.js' %}"></script>
		<!-- counterup JS -->
		<script src="{% static 'eclinic_app/js/jquery.counterup.min.js' %}"></script>
		<!-- Steller JS -->
		<script src="{% static 'eclinic_app/js/steller.js' %}"></script>
		<!-- Wow JS -->
		<script src="{% static 'eclinic_app/js/wow.min.js' %}"></script>
		<!-- Magnific Popup JS -->
		<script src="{% static 'eclinic_app/js/jquery.magnific-popup.min.js' %}"></script>
		<!-- Counter Up CDN JS -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="{% static 'eclinic_app/js/bootstrap.min.js' %}"></script>
		<!-- Main JS -->
		<script src="{% static 'eclinic_app/js/main.js' %}"></script>
    </body>
</html>